
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mx-auto text-center text-info">
                <h1 id="story">Tell Your Story</h1>
                <p>{{this.id}}</p>
                <p>{{this.email}}</p>

            </div>
        </div>
    </div>


	<div class="row text-info">
			<div class="col-md-6 col-md-offset-3">
				<form id="story">
					<div class="form-group" id = "dash">
						<label for="title">Title:</label>
						<input placeholder="Post Title" type="text" class="form-control" id="title">
						<br />
						<label for="body">Story:</label>
						<textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
						<div class="form-group">
							{{!-- <label for="category">Select Author:</label>
							<select class="form-control" id="author">
  						</select> --}}
						</div>
						<br>
						<button type="submit" class="btn btn-info submit">Submit</button>
                        <br>
                        <br>
                        <button id="deletePost" class="btn btn-info submit" style="display:none">Delete</button>
					</div>
				</form>
			</div>
		</div>

    
    {{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
    <script type="text/javascript" src="/assets/js/user.js"></script>
    <script type="text/javascript" src="/assets/js/dashboard.js"></script>
   

