

    <div class="container">
        <div class="row text-danger">
                <div class="logo">
                </div>
                </div>
                </div>
<div class="container">
                <div class="row">
                <form class="alertAppend">
                    <div class="form-group">
                        <label for="emailInput">Email address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                    <button id="submitBtn" type="submit" class="btn btn-info">Submit</button>
                    <small class="form-text">Not Registered Yet..? <a
                            href="/user/register">Register</a></small>
                </form>
                </div>
            </div>
        </div>


    <script type="text/javascript" src="/assets/js/login.js"></script>
