<!DOCTYPE html>
<html>

<head>
    <title>Drug Related Deaths USA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Auth with Passport" />
    <meta property="og:url" content="https://auth-passport.herokuapp.com" />
    <meta property="og:image"
        content="https://user-images.githubusercontent.com/40499942/79766002-661d0e00-82f5-11ea-933f-f8b021c9ab44.jpg" />
    <meta name="description"
        content="This is a ready to use boiler plate that uses Passport for User Authentication and MySQL with Sequelize for Data Storage." />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/d7973d9d11.js" crossorigin="anonymous"></script>
    <title>Auth with Passport</title>
    <meta name="google-site-verification" content="DPY1mP4M7-dVmCrGmkYVUs2UD0GcDVR-f9vdubVs30g" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiRFL7NTJFlRBr3YzrL_xH1Et3CYmHB_Q&callback=initMap"
        defer></script>

    <div class="container-fluid">
        <div class="row bg-dark">
            <div class="col-md-8 p-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-2">
                    <a class="navbar-brand ml-3" href="/">Auth with Passport</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-primary" href="/">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/page2">Page Two</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-4 text-right pt-2">
                <a class="text-white pr-0 mr-3" href="/user/profile"><span class="userName"></span>
                    <i class="fas fa-user-circle fa-2x text-white mt-1 ml-2 mb-2"></i></a>
            </div>
        </div>
    </div>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 90%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<div id="map"></div>

<script>
    function initMap() {

        var usaLatlng = new google.maps.LatLng(39.381266, -97.922211)
        var mapOptions = {
            zoom: 4,
            center: usaLatlng
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: usaLatlng,


        });


        var statesArray = [
            {
                name: "wisconsin",
                lat: 44.500000,
                lng: -89.500000
            },
            {
                name: "west virginia",
                lat: 39.000000,
                lng: -80.500000
            },
            {
                name: "vermont",
                lat: 44.000000,
                lng: -72.699997
            },
            {
                name: "texas",
                lat: 31.000000,
                lng: -100.000000
            },
            {
                name: "south dakota",
                lat: 44.500000,
                lng: -100.000000
            },
            {
                name: "rhode island",
                lat: 41.700001,
                lng: -71.500000
            },
            {
                name: "oregon",
                lat: 44.000000,
                lng: -120.500000
            },
            {
                name: "new york",
                lat: 43.000000,
                lng: -75.000000
            },
            {
                name: "new hampshire",
                lat: 44.000000,
                lng: -71.500000
            },
            {
                name: "nebraska",
                lat: 41.500000,
                lng: -100.000000
            },
            {
                name: "kansas",
                lat: 38.500000,
                lng: -98.000000
            },
            {
                name: "mississippi",
                lat: 33.000000,
                lng: -90.000000
            },
            {
                name: "illinois",
                lat: 40.000000,
                lng: -89.000000
            },
            {
                name: "delaware",
                lat: 39.000000,
                lng: -75.500000
            },
            {
                name: "connecticut",
                lat: 41.599998,
                lng: -72.699997
            },
            {
                name: "arkansas",
                lat: 34.799999,
                lng: -92.199997
            },
            {
                name: "indiana",
                lat: 40.273502,
                lng: -86.126976
            },
            {
                name: "missouri",
                lat: 38.573936,
                lng: -92.603760
            },
            {
                name: "florida",
                lat: 27.994402,
                lng: -81.760254
            },
            {
                name: "nevada",
                lat: 39.876019,
                lng: -117.224121
            },
            {
                name: "maine",
                lat: 45.367584,
                lng: -68.972168
            },
            {
                name: "michigan",
                lat: 44.182205,
                lng: -84.506836
            },
            {
                name: "georgia",
                lat: 33.247875,
                lng: -83.441162
            },
            {
                name: "hawaii",
                lat: 19.741755,
                lng: -155.844437
            },
            {
                name: "alaska",
                lat: 66.160507,
                lng: -153.369141
            },
            {
                name: "tennessee",
                lat: 35.860119,
                lng: -86.660156
            },
            {
                name: "virginia",
                lat: 37.926868,
                lng: -78.024902
            },
            {
                name: "new jersey",
                lat: 39.833851,
                lng: -74.871826
            },
            {
                name: "kentucky",
                lat: 37.839333,
                lng: -84.270020
            },
            {
                name: "north dakota",
                lat: 47.650589,
                lng: -100.437012
            },
            {
                name: "minnesota",
                lat: 46.392410,
                lng: -94.636230
            },
            {
                name: "oklahoma",
                lat: 36.084621,
                lng: -96.921387
            },
            {
                name: "montana",
                lat: 46.965260,
                lng: -109.533691
            },
            {
                name: "washington state",
                lat: 47.751076,
                lng: -120.740135
            },
            {
                name: "utah",
                lat: 39.419220,
                lng: -111.950684
            },
            {
                name: "colorado",
                lat: 39.113014,
                lng: -105.358887
            },
            {
                name: "ohio",
                lat: 40.367474,
                lng: -82.996216
            },
            {
                name: "alabama",
                lat: 32.318230,
                lng: -86.902298
            },
            {
                name: "iowa",
                lat: 42.032974,
                lng: -93.581543
            },
            {
                name: "new mexico",
                lat: 34.307144,
                lng: -106.018066
            },
            {
                name: "south carolina",
                lat: 33.836082,
                lng: -81.163727
            },
            {
                name: "pennsylvania",
                lat: 41.203323,
                lng: -77.194527
            },
            {
                name: "arizona",
                lat: 34.048927,
                lng: -111.093735
            },
            {
                name: "maryland",
                lat: 39.045753,
                lng: -76.641273
            },
            {
                name: "massachusetts",
                lat: 42.407211,
                lng: -71.382439
            },
            {
                name: "california",
                lat: 36.778259,
                lng: -119.417931
            },
            {
                name: "idaho",
                lat: 44.068203,
                lng: -114.742043
            },
            {
                name: "wyoming",
                lat: 43.075970,
                lng: -107.290283
            },
            {
                name: "north carolina",
                lat: 35.782169,
                lng: -80.793457
            },
            {
                name: "louisiana",
                lat: 30.391830,
                lng: -92.329102
            },

        ]

        var markerArray = [];

        for (let i = 0; i < statesArray.length; i++) {
            const temp = new google.maps.LatLng(statesArray[i].lat, statesArray[1].lng)
            markerArray.push(new google.maps.Marker({
                position: new google.maps.LatLng(statesArray[i].lat, statesArray[i].lng),
                title: 'Click to zoom',
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                icon: circle
                
            }))
            var circle = {
                    path: google.maps.SymbolPath.CIRCLE,
                    fillColor: 'white',
                    fillOpacity: 0.4,
                    scale: 7,
                    strokeColor: 'red',
                    strokeWeight: 5
                }

        }

        // function drop() {
        //     for (let i = 0; i < statesArray.length; i++) {

        //        (markerArray[1], i * 200);
        //     }
        // }


    }
</script>